:root{
    --theme-blue-color: #14122c;
    --theme-blur-color1: #e86b7a;
    --theme-blur-color2: #ce5a19;
    --theme-blur-color3: #ce192e;
    --theme-btn-color: #ff843f;
    --theme-gray-text-color: #747474;
    --theme-text-white: #fff;
    --theme-text-gray: #c9c9c9;
    --theme-btn-bg-color: #424062;
    --theme-bg-color: #f3f2ff;
    --theme-bg-purple: #e8e6ff;
    --theme-orange-color: #eb8044;
}