@mixin header1{
    font-size: 55px;
    font-weight: 600;
}

@mixin header2{
    font-size: 48px;
    font-weight: 600;
}

@mixin header4{
    font-size: 22px;
    font-weight: 600;
}

@mixin header5{
    font-size: 16px;
    font-weight: 500;
}

@mixin font68{
    font-size: 68px;
    font-weight: 600;
}